@charset "utf-8";
/*  팀 PJ : 서브페이지 CSS - earth.css */

@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* a요소 위치 이동시 부드러운 스크롤 애니 설정*/
html{
    scroll-behavior: smooth;
}


/* 각 페이지 페이지 크기 설정 #pg2는 가로로 스크롤 때문에 100vh를 안줌*/
#pg1, #pg2, #pg3, #pg4, #pg5{
    /* height대신 min-height를 줘야댐!!!!!
    그래야 #pg2 에서 화면이 걸림!!!!!!!!!!!!!!!! */
    min-height: 100vh;
    /* height: 100vh; */
    
    position: relative;
}

/* 핸드폰모드시 가로스크롤 안나오게 */
/* body > * {
    overflow-x: hidden;
    cursor: default;
  } */

  /* 이거 있어야 pg2 일때 브라우저에서 가로스크롤 안나옴 */
  body{
    overflow-x: hidden;
  }

/* *****************************임시    *********************************** */


/* 임시 아웃라인 */
body * {
    outline: 2px dashed red;

}
.main-tit {
    /* 임시 메인타이틀 폰트 색 */
    
    color:#fff;

}




/* ************************** earth 공통 ************************************ */
/* 오버플로우 히든 클래스 */
/* .ofhidden{
    overflow: hidden;  
} */

/* 비디오 싸는 박스 */
.vidbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}





/****************************************************** pg1 *******************************************************************/
.pg1{
    position: relative;
}
.top-tbox{
    padding-left: 150px;
}
.pg1 .main-tit{
    white-space: nowrap;
    padding-top: 50vh;
}

#pg1 video{
   
  width: 100%;
  height: 100%;
  object-fit: cover;
  
    
    
}

/****************************************************** pg2 *******************************************************************/

.pg2{
    color: #fff;
    /* background-color: #fff27d; */
    position: relative;
    width: 100%;
    height: 100%;
        
}

#pg2 >.vidbox{
  position: fixed;
  z-index: -999;
  object-fit: cover;
  width: 100%;
    
    
}

.cont-txt{
    padding: 20px;
}



/************************* 스크롤시 가로로 슬라이드되게 하는효과 *************************/

.epg {
    height: 100vh;
    outline: 1px solid blue;
}
/* 타겟박스 */
.etpg {
    height: calc(100vh + 5000px);
    /* 타겟 박스는 보이는 화면 맨윗줄부터
     시작해서 아래로 마지막 박스 끝라인까지
    총 이동거리는 3000px이다!!! */
    /* background-color: lightblue; */
    outline: 2px dashed blue;
}
/* 가로이동박스 */
.eslidePg {
    padding-top:2vw;
    position: sticky;
    top: 10rem;
    left: 0;
    /* height: 100vh; */

    /* background-color: orange; */
}
/* 실제로 가로이동할 ul박스 */
.eslidePg ul {
    position: relative;
    left: 0;
    display: flex;
    width: calc(100vw + 3000px);
    /* 가로크기는 타겟박스가 이동하는크기인
    3000px에 맞도록 100vw에 더하여 잡아준다!
    이유는 JS의 getBoundingClientRect().top
    값의 수치와 정확히 일치 시키기 위함! */
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.4s ease-out;
}
.eslidePg ul li {
    flex: 1;
    text-align: center;
}

.eslidePg ul li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    border-radius: 20px;
}




/****************************************************** pg3 *******************************************************************/

.pg3{
    background-color: #b0ff8c;
    
}



/****************************************************** pg4 *******************************************************************/

.pg4{
    background-color: #9dfff7;
}



/****************************************************** pg5 *******************************************************************/
.pg5{
    background-color: #948dff;
    
}
