@charset "utf-8";
/*  팀 PJ : 서브페이지 CSS - earth.css */


/* 각 페이지 페이지 크기 설정 */
#pg1, #pg2, #pg3, #pg4, #pg5{
    /* width: 100vw; */
    height: 100vh;
    position: relative;
}
/* *****************************임시    *********************************** */
/* 임시 폰트크기 rem 계산*/
html {
    font-size: 10px;
  }

/* 임시 아웃라인 */
body * {
    outline: 2px dashed red;

}
/* 임시 타이틀 */
.temp-tit{
    position: absolute;
    font-size: 2vw;
    color: #ff0000;
    z-index: 999;

}
/* 임시 인박스 */
.inbox{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    
}
/* 임시 desc */
.desc{
    font-size: 1.4rem;
}
/* 임시 tit */
.tit{
    font-size: 5rem;
}
/* 임시 txt */
.txt{
    font-size: 3rem;
}


/* ************************** 공통 ************************************ */
/* 오버플로우 히든 클래스 */
.ofhidden{
    overflow: hidden;  
}
body{
    /* background-image: url(../images/earth/earth_back.webp)no-repeat center/cover; */
}
/* 비디오 싸는 박스 */
.vidbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}





/****************************************************** pg1 *******************************************************************/
.pg1{
    position: relative;
}

.pg1 .tit,.pg1 .txt{
    position: absolute;
    top: 50%;
    left: 5%;
    
    color: white;
    text-shadow: 2px 2px 2px #222;
    
}
.pg1 .tit{
    white-space: nowrap;
    top: 42%;
}
/* .backobj{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
} */
/* .backobj{
    width: 100vw;
    height: 100vh;
    background: url(../images/earth/pg1_earth.webp)no-repeat center/cover;
    margin: 0 auto;
} */
#pg1 video{
   
  width: 100%;
  height: 100%;
  object-fit: cover;
  
    
    
}

/****************************************************** pg2 *******************************************************************/

.pg2{
    color: #fff;
    /* background-color: #fff27d; */
    position: relative;
}
#pg2 video{
   
  width: 100%;
  height: 100%;
  object-fit: cover;
    
    
}

/****************************************************** pg3 *******************************************************************/

.pg3{
    background-color: #b0ff8c;
    
}



/****************************************************** pg4 *******************************************************************/

.pg4{
    background-color: #9dfff7;
}



/****************************************************** pg5 *******************************************************************/
.pg5{
    background-color: #948dff;
    
}
