@charset "utf-8";
/*  팀 PJ : 서브페이지 CSS - saturn.css */

@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/************* 공통구역 *************/
body * {
  /* outline: 2px dashed red; */
}
body > * {
  overflow-x: hidden;
  cursor: default;
}
.saturn {
  width: 100%;
  min-height: 100vh;
}
.cont-tit {
  font-weight: 900;
}
.sub-txt {
  color: black;
}

/************* 상단영역 *************/
/* common.css */

/************* 메인영역 *************/
/* ---------------------첫페이지--------------------- */
.saturn1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.saturn1-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(0, 0, 0) 5%, #ffffff00 50%);
  /* background-color: #fff; */
}
.saturn1 video {
  position: absolute;
  right: 0;
  /* width: 100%; */
  height: 100vh;
}
.saturn1-text {
  bottom: 25vh;
  left: 10%;
  opacity: 0;
  animation: fadein 1.4s ease-in-out 1.3s forwards;
}
.saturn1-text h1 {
  /* animation: fadein 1.4s ease-in-out 1.3s forwards; */
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
.saturn1-text p {
  /* width: min(70vw,522px); */
}

/* ---------------------두번째 페이지--------------------- */
.saturn2 {
  max-width: 1400px;
  min-width: 600px;
  margin: 0 auto;
  margin-top: 8rem;
}
.desc {
  display: flex;
  gap: 2rem;
  margin-top: 35px;
}

.desc1 {
  flex-direction: row-reverse;
}

/* 2-1 첫번째 사진 */
.desc1-img {
  width: 45vw;
  height: auto;
}
.desc2 {
  position: relative;
  height: 50vh;
}
.desc2-text {
  margin-top: 5rem;
}
.desc2-3D {
  position: relative;
  top: -70px;
  width: 65vw;
}
.desc2 iframe {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* ---------------------세번째 페이지--------------------- */
.saturn3 {
  margin-top: 30px;
}

/* 세번째페이지 - 고리 설명 */
.saturn3-desc {
  max-width: 1400px;
  /* text-align: center; */
  margin: 0 auto;
}
.saturn3-desc h2 {
  text-align: left;
  margin-bottom: 20px;
}
.saturn3-desc strong {
  font-size: max(1.5vw, 14px);
}

/* 세번째페이지 - 링크이동 */

.saturn3-link {
  position: relative;
  height: 80vh;
  background-color: #000;

  padding: 50px;
}
.saturn3-img {
  position: absolute;
  right: 50px;
}
.saturn3-img img {
  aspect-ratio: 800/600;
  height: 80vh;
}
.saturn3-text {
  position: absolute;
  left: 50px;
  bottom: 50px;

  color: white;
  text-align: left;
}
.saturn3-text a {
  display: block;
  text-align: right;
  color: white;
}
.saturn3-text span {
  font-size: 4rem;
  cursor: pointer;
}

.saturn3-text i {
  color: yellow;
}

/* 보너스 스테이지 */
.bonus {
  margin-top: 5%;
  height: 50vh;
  background: url(../images/saturn/inner_rings_around_saturn_fading.gif)
    no-repeat fixed center/cover;
  /* background-image: url(../images/saturn/inner_rings_around_saturn_fading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

/* ---------------------네번째 페이지--------------------- */
.saturn4 {
  max-width: 1400px;
  min-height: auto;
  margin: 0 auto;
  margin-top: 5%;
}
.saturn4 h2 {
  margin-bottom: 50px;
}

/* 4번째페이지 - 리스트 */
/* 그리드 */
.saturn4-cont ul {
  display: grid;
  grid-row-gap: 15px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

/* 플렉스 */
.saturn4-cont li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.saturn4-cont li img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
.saturn4-text {
  font-size: 1.5rem;
  font-family: "Pretendard-Regular";
}

/* 네번째페이지 - 더 많은 설명 버튼 */
.saturn-more {
  display: block;
  text-align: right;
  font-size: 3rem;
  margin-bottom: 50px;
}
.saturn-more a:hover i {
  color: yellow;
}

/************* 하단영역 *************/
/* common.css */

/************* 미디어쿼리 *************/

@media screen and (max-width: 1200px) {
  /* 두번째페이지 */
  .desc {
    flex-direction: column-reverse;
  }

  .desc2 {
    margin-top: 0;
    height: 100%;
  }

  .desc strong {
    display: block;
    text-align: center;
  }
  .desc1-img {
    width: auto;
  }
  .desc img {
    width: 100%;
  }
  .desc2-3D {
    top: 0;
    width: 100%;
  }
  .desc2 iframe {
    width: 100%;
    height: 600px;
    border-radius: 0;
  }
  /* 서번째 페이지 */
  .saturn3-desc h2{
    margin-top: 5rem;
  }
  .saturn3-desc strong {
    font-size: 3rem;
  }
}

@media screen and (max-width: 960px) {
    
  /* ---------------------네번째 페이지--------------------- */
  .saturn4 h2 {
    font-size: 6vw;
    margin-top: 5rem;
  }
  .saturn4-cont li {
    flex-direction: column;
  }
  .saturn4-text{
    text-align: center;
  }
  .saturn4 p {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 850px) {
  /* ---------------------첫페이지--------------------- */
  .saturn1-text {
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
  }
  .saturn1-text h1 {
    font-size: 9.5rem;
    text-align: center;
    /* opacity: 0; */
  }
  .saturn1-text p {
    /* font-size: 30px; */
    font-size: 1.5rem;
  }

}
@media screen and (max-width: 700px) {
    /* 첫페이지 */
    .saturn1-text {
        width: 80%;
      }
      .saturn1-text h1 {
        font-size: 6.5rem;
        text-align: center;
      }
      .saturn1-text p {
        font-size: 1.2rem;
      }
      /* 두번째 페이지 */
      .desc {
        width: 100vw;
      }
      .desc2 iframe {
        height: 400px;
      }
      /* 서번째 페이지 */
      .saturn3-desc h2{
        font-size: 4rem;
      }
      .saturn3-text{
        left: 10px;
        font-size: 4rem;
      }
      .saturn3-text span {
        font-size: 2.5rem;
    }
    .saturn3-text a {
        text-align: left;
    }
    .saturn3-text i {
        display: block;
        font-size: 4rem;
    }
      .saturn3-desc strong {
        font-size: 2.5rem;
      }

      /* 네번째 */
      .saturn4-cont ul {
        grid-template-columns: repeat(2, 1fr);
      }
      .saturn4 h2 {
        margin-bottom: 30px;
    }
    .saturn-more {
        text-align: center;
        margin-top: 14px;
        font-size: 2rem;
    }
}
