@charset "utf-8";
/*  팀 PJ : 서브페이지 CSS - sun.css */

@import url(./common.css);


/************* 상단영역 *************/
/* common.css */

/************* 메인영역 *************/
body > * {
  overflow-x: hidden;
  cursor: default;
}


/* 태양설명영역 */
.sun {
  font-family: "Kanit", sans-serif;
  color: #333;
  position: relative;
}
/************* 섹션1 *************/

.sun01 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.sun01 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.sun01-text {
  color: #fff;
  position: absolute;
  bottom: 25vh;
  left: 10%;
}
.sun01-text h2 {
  font-size: min(18vw, 12rem);
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #333;
  opacity: 0;
  animation: fadein 1.4s ease-in-out 1.3s forwards;
}
.sun01-text p {
  width: min(70vw, 500px);
  font-size: min(3vw, 1.8rem);
  line-height: 1.3;
  font-weight: 200;
  text-indent: 5px;
  text-shadow: 1px 1px 2px #333;
  opacity: 0;
  animation: fadein 1.4s ease-in-out 2s forwards;
}
/* 글자애니메이션 */
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* 페이지 들어왔을때 효과 */
.sun01::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: #000;
  animation: introAni 2s ease-in-out forwards;
}

@keyframes introAni {
  0% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}


/* 섹션2 */
/* 3. 사업소개 */
#about-area {
  height: auto;
  background-color: #fff;
}

#about-area .inbox {
  max-width: 1400px;
  width: 90%;
}

.text{
  width:50%;
}


.about-box {
  margin: 0 auto;
}

.about-area h2 {
  font-size: 4.6rem;
  line-height: 6.3rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.about-area .con {
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 이미지 두개가 번갈아가며 서서히 나타나는 효과 */
.about-area .con .img-fade1 {
  position: relative;
  width: 375px;
  height: 417px;
  border-radius: 200px;
  margin-right: 40px;
  overflow: hidden;
}

.about-area .con .img-fade1 img {
  width: 100%;
  height: 100%;
}

.about-area .con .fade1 {
  /* 부모는 .img-fade */
  position: absolute;
  left: 0;
  top: 0;
  animation: fade-ani 3.5s 1.5s ease-in-out infinite alternate;
}
.about-area .con .fade2 {
  /* 부모는 .img-fade */
  position: absolute;
  left: 0;
  top: 0;
  animation: fade-ani2 3.5s 1.5s ease-in-out infinite alternate;
}

/* 클리핑 마스크로 두번째 영역 사진 넣기 */
.about-area .con .img-fade2 {
  position: relative;
  width: 449px;
  height: 431px;
  clip-path: url(#my-clip-path);
}
.about-area .con .img-fade2 img {
  width: 100%;
  height: 100%;
}

/* 클리핑 마스크로 세번째 영역 사진 넣기 */
.about-area .con .img-fade3 {
  position: relative;
  width: 389px;
  height: 404px;
  clip-path: url(#my-clip-path2);
}
.about-area .con .img-fade3 img {
  width: 100%;
  height: 100%;
}

@keyframes fade-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-ani2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 글자영역 */
.about-area .con .text h3 {
  font-size: 4.6rem;
  line-height: 5.6rem;
  margin-bottom: 30px;
}

.about-area .con .text h3 span {
  color: #ffed00;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
}

.about-area .con .text p {
  font-size: 1.8rem;
}





/* 섹션3 */
.mercury03{
  height: 50vh;
  /* background: url(../subimg/Mercury02.jpg) no-repeat center/cover; */
  background-color: green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}



/* 섹션4 */
#tech {
  width: 100%;
  height: 100vh;
  background-color: #edeeee;
  overflow: hidden;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #tech {
    height: 100vh;
  }
}
#tech .title_box {
  color: #232c49;
}
#tech .title_main {
  line-height: 1.2;
  color: #232c49;
}
#tech .title_main:nth-child(odd) {
  left: -2.6041666667vw;
}
#tech .title_main:nth-child(even) {
  left: 5.2083333333vw;
}
#tech .title_sub {
  color: #232c49;
  font-family: "Pretendard";
  font-weight: 300;
}
#tech .desc {
  margin-top: 1.5625vw;
  color: #232c49;
  font-size: 1.25vw;
}
#tech .layout {
  height: 100vh;
}
#tech #tech_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#tech #tech_img .slider {
  width: 100%;
  height: 100%;
}
#tech #tech_img .slider_wrapper {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#tech #tech_img .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#tech #tech_img .item canvas {
  position: relative;
  top: -5.2083333333vw;
  left: -14.5833333333vw;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #tech #tech_img .item canvas {
    display: none;
  }
}
#tech #tech_img .item video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#tech #tech_img .item .img {
  display: none;
  position: relative;
  width: 72.9166666667vw;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #tech #tech_img .item .img {
    display: block;
  }
}
#tech #tech_img .text_box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: calc((100vh - 100%) / 4);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70.8333333333vw;
  height: 34.8958333333vw;
  padding-top: 5.2083333333vw;
}
#tech #tech_txt {
  position: absolute;
  left: 50%;
  bottom: 10%;
  z-index: 2;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 70.8333333333vw;
  margin: 0 auto;
  color: #727272;
}
#tech #tech_txt .slider {
  width: 100%;
}
#tech #tech_txt .slider_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#tech #tech_txt .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#tech #tech_txt .txt span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1.875vw;
}
#tech #tech_txt .txt strong {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.875vw;
}
#tech #tech_txt .txt p {
  width: 100%;
  margin-top: 1.5625vw;
  text-align: center;
  line-height: 1.5;
  color: #000;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 0.9375vw;
}
#tech #tech_txt .table {
  position: relative;
  margin-top: 3.125vw;
  overflow: hidden;
}
#tech #tech_txt .table .table_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
#tech #tech_txt .table span {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
#tech #tech_txt .table span button {
  width: 100%;
  height: 2.6041666667vw;
  border: solid #D0CECE;
  border-width: 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 1;
  color: #727272;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 0.9375vw;
  overflow: hidden;
}
#tech #tech_txt .table span button.border {
  border-right: 1px solid #fff;
}
#tech #tech_txt .table span em {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: -1;
  display: block;
  width: 0;
  height: calc(100% + 1px);
  background-color: #D0CECE;
  font-size: 0;
  text-indent: 99999em;
  overflow: hidden;
  line-height: 0;
}
#tech #tech_txt .table span:last-child button {
  border-right: 1px solid #D0CECE;
}
#tech #tech_txt .table span:first-child button {
  border-left: 1px solid #D0CECE;
}
#tech #tech_txt .table span + span button {
  border-left: 1px solid #D0CECE;
}
#tech #tech_txt .table .table_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0px;
  height: 100%;
  background-color: #D0CECE;
  -webkit-transition-property: left, width;
  transition-property: left, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  font-size: 0;
  text-indent: 99999em;
  overflow: hidden;
  line-height: 0;
}
#tech #techBackgorund {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
  width: 60%;
  height: 150%;
  opacity: 0.3;
}
#tech #techBackgorund canvas {
  position: relative;
  z-index: 1;
  opacity: 0.7;
}
#tech #techBackgorund::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #f3f2ee 30%, transparent 66%);
}



/************* 하단영역 *************/
/* common.css */

/************* 미디어쿼리 *************/
